@using ShadowBlog.Models
@model IEnumerable<BlogPost>

@{
    ViewData["Title"] = "Home Page";
}





<section class="breadcrumb breadcrumb_bg align-items-center">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6">
                <div class="breadcrumb_tittle text-left">
                    <h2>Blogs</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="breadcrumb_content text-right">
                    <p>Home<span>/</span>Category Page</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">Bloggity Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var blogPost in Model)
            {
                <!-- Post preview-->
                <!-- <div class="post-preview">
        <a asp-controller="BlogPosts" asp-action="Details" asp-route-id="@blogPost.Id">
            <h2 class="post-title">@blogPost.Title</h2>
            <h3 class="post-subtitle">@blogPost.Abstract</h3>
        </a>-->

                <div class="post-preview">
                <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@blogPost.Slug">
                    <h2 class="post-title">@blogPost.Title</h2>
                    <h3 class="post-subtitle">@blogPost.Abstract</h3>
                </a>

                <p class="post-meta">
                    Created by Person McPerson on @blogPost.Created.ToString("MMM dd, yyyy")
                </p>
            </div>

                <!-- Divider-->
                <hr class="my-4" />
            }

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>